:root{
    --text-dark: #000;
    --text-light: #fff;
    ---text-grey: #adbdcc; 
    --body-font: "Roboto", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
}

h1{
    font-family: var(--heading-font);
    color: var(---text-grey)
}
